<!--筛选条件-->
<div class="panel panel-default searchWrap no-border mr-5 ml-5">
    <div class="panel-body">
        <div class="tb_row content">
            <div class="tb_col title pull-left">
                类型
            </div>
            <div class="tb_col pull-left">
                <ul class='list-unstyled list-inline'>
                    <li ng-if="type.name" ng-repeat="type in typeData">
                        <div class="radio">
                            <label>
                                <div class="choice">
                                    <span ng-class="{checked:current.type == type.key}">
                                        <input type="radio" ng-model="current.type" value="{{type.key}}" class="styled">
                                    </span>
                                </div>
                                {{type.name}}
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tb_col title pull-left">
                类型
            </div>
            <div class="tb_col">
                <ul class='list-unstyled list-inline'>
                    <li ng-if="type.name" ng-repeat="type in typeData">
                        <div class="radio">
                            <label>
                                <div class="choice">
                                    <span ng-class="{checked:current.type == type.key}">
                                        <input type="radio" ng-model="current.type" value="{{type.key}}" class="styled">
                                    </span>
                                </div>
                                {{type.name}}
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tb_row content">
            <div class="tb_col title pull-left">
                指标选择
            </div>
            <div class="tb_col">
                <ul class='list-unstyled list-inline'>
                    <li ng-if="kpi.name" ng-repeat="kpi in kpiData">
                        <div class="checkbox">
                            <label>
                                <div class="checker">
                                    <span ng-class="{checked:kpi.isChecked}">
                                        <input type="checkbox" class="styled" ng-click=";kpi.isChecked=!kpi.isChecked;">
                                    </span>
                                </div>
                                {{kpi.name}}
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/筛选条件-->


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="icon-calendar2"></i>双Y轴曲线图</h6>
            </div>
            <div class="panel-body">
                <chart value='splineDoubleData' height="270" type="spline"></chart>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="icon-calendar2"></i>曲线图</h6>
            </div>
            <div class="panel-body">
                <chart value='splinechart' height="270" type="spline"></chart>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="icon-calendar2"></i>曲饼图</h6>
            </div>
            <div class="panel-body">
                <chart value='piechartData' height="270" type='pie'></chart>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="icon-calendar2"></i>动图曲线图</h6>
            </div>
            <div class="panel-body">
                <chart value='dynamicchart' height="270"></chart>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="icon-calendar2"></i>蜘蛛网图</h6>
            </div>
            <div class="panel-body">
                <chart value='spiderweb' height='270' type="line"></chart>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="icon-calendar2"></i> 漏斗模型</h6>
            </div>
            <div class="panel-body">
                <chart value='funnelData' width='350' height='270' type="funnel"></chart>
            </div>
        </div>
    </div>
</div>


<!-- <div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="icon-calendar2"></i> Animated graph 1</h6>
            </div>
            <div class="panel-body">
                <chart value='chart_mapData' type="map"></chart>
            </div>
        </div>
    </div>
</div> -->

