<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="icon-calendar2"></i>数据表格</h6>
            </div>
            <div class="five-force">
		<div class="five-force-content col-xs-12">
	        <div class="data-rect c1-1 bg-green">
	            <div>注册用户数</div>
	            <div>
	                <div class="col-xs-6">790</div>
	                <div class="col-xs-6">
	                	-6.51%<span class="glyphicon glyphicon-arrow-down"></span>
	                </div>
	            </div>
	        </div>
	        <div class="data-rect c1-2 bg-green">
	            <div>老用户登录人数</div>
	            <div>
	                <div class="col-xs-6">13,079</div>
	                <div class="col-xs-6">-3.63%<span class="glyphicon glyphicon-arrow-down"></span></div>
	            </div>
	        </div>
	        <div class="data-rect c1-3 bg-green">
	            <div>户均在线时长</div>
	            <div>
	                <div class="col-xs-6">12.52</div>
	                <div class="col-xs-6">-4.86%<span class="glyphicon glyphicon-arrow-down"></span></div>
	            </div>
	        </div>
	        <div class="data-rect c1-4 bg-green">
	            <div>活跃付费率</div>
	            <div>
	                <div class="col-xs-6">1.00%</div>
	                <div class="col-xs-6">35.14%<span class="glyphicon glyphicon-arrow-up"></span></div>
	            </div>
	        </div>
	        <div class="data-rect c1-5 bg-green">
	            <div>付费ARPU</div>
	            <div>
	                <div class="col-xs-6">3.82</div>
	                <div class="col-xs-6">-5.45%<span class="glyphicon glyphicon-arrow-down"></span></div>
	            </div>
	        </div>
	        <div class="data-rect c2-1 bg-blue">
	            <div>活跃新用户数</div>
	            <div>
	                <div class="col-xs-6">4,760</div>
	                <div class="col-xs-6">0.00%<span class="glyphicon glyphicon-arrow-up"></span></div>
	            </div>
	        </div>
	        <div class="data-rect c2-2 bg-blue">
	            <div>活跃老用户数</div>
	            <div>
	                <div class="col-xs-6">20,790</div>
	                <div class="col-xs-6">-2.62%<span class="glyphicon glyphicon-arrow-down"></span></div>
	            </div>
	        </div>
	        <div class="data-rect c3-1 bg-blue">
	            <div>活跃用户数</div>
	            <div>
	                <div class="col-xs-6">25,550</div>
	                <div class="col-xs-6">-2.14%<span class="glyphicon glyphicon-arrow-down"></span></div>
	            </div>
	        </div>
	        <div class="data-rect c3-3 bg-blue">
	            <div>在线峰值</div>
	            <div>
	                <div class="col-xs-6">9,628</div>
	                <div class="col-xs-6">1.75%<span class="glyphicon glyphicon-arrow-up"></span></div>
	            </div>
	        </div>
	        <div class="data-rect c4-4 bg-blue">
	            <div>付费用户数</div>
	            <div>
	                <div class="col-xs-6">256</div>
	                <div class="col-xs-6">33.33%<span class="glyphicon glyphicon-arrow-up"></span></div>
	            </div>
	        </div>
	        <div class="data-rect c5-5 total">
	            <div>付费金额</div>
	            <div>
	                <div class="col-xs-6">979.00</div>
	                <div class="col-xs-6">26.32%<span class="glyphicon glyphicon-arrow-up"></span></div>
	            </div>
	        </div>
	        <div class="arrow-l-11"></div>
	        <div class="arrow-l-12"></div>
	        <div class="arrow-l-21"></div>
	        <div class="arrow-l-22"></div>
	        <div class="arrow-l-13"></div>
	        <div class="arrow-l-14"></div>
	        <div class="arrow-l-15"></div>
	        <div class="arrow-bri"></div>
	        <div class="arrow-down-l"></div>
	        <div class="arrow-down-r"></div>
	        <div class="arrow-total"></div>
	        <div class="arrow-down-total"></div>
		</div>
	</div>
        </div>
    </div>
</div>