<!--Navbar -->
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><img alt="Londinium" src="images/7road.png"></a>
            <a class="sidebar-toggle"><i class="icon-paragraph-justify2"></i></a>
            <button data-target="#navbar-icons" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navbar</span>
                <i class="icon-grid3"></i>
            </button>
            <button class="navbar-toggle offcanvas" type="button">
                <span class="sr-only">Toggle navigation</span>
                <i class="icon-paragraph-justify2"></i>
            </button>
        </div>

        <ul id="navbar-icons" class="nav navbar-nav navbar-right collapse">
            <li class="user dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle">
                    <img alt="" src="images/face1.png">
                    <span>Eugene Kopyov</span>
                    <i class="caret"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right icons-right">
                    <li><a href="javascript:void(0);" ng-click="logout()"><i class="icon-exit"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
<!-- /navbar -->