<!-- navbar-->
<div class="navbar navbar-inverse" role="navigation" ng-include="'views/layouts/header.html'"></div>
<!-- /navbar-->

<!-- Page container -->
<div class="page-container">

	<div class="sidebar" ng-include="'views/layouts/menu.html'"></div>

    <!-- Page content -->
    <div class="page-content">

    	<div class="page-header">
			<div class="page-title">
				<h3>{{currentNav.currentSubNav.name}}<small>{{currentNav.currentSubNav.desc}}</small></h3>
			</div>
		</div>
    	
        <div class="page-content-inner">
        	<div class="breadcrumb-line">
				<ul class="breadcrumb">
					<li><a href="javascript:void(0);">当前位置：</a></li>
					<li><a href="javascript:void(0);">{{currentNav.name}}</a></li>
					<li class="active">{{currentNav.currentSubNav.name}}</li>
				</ul>
			</div>
        </div>
		
    	<div  class="page-content-main" ui-view>
    	</div>
    </div>
    <!-- /page content -->
</div>
<!-- page container -->