<div class="sidebar-content animated fadeIn" ng-controller="menuController">

    <!-- User dropdown -->
    <div class="user-menu">
        <a data-toggle="dropdown" class="dropdown-toggle">
            <div class="user-info">
                后台管理系统 <span>数据分析平台</span>
            </div>
        </a>
    </div>
    <!-- /user dropdown -->

    <!-- Main navigation -->
    <ul class="navigation">
        <li class="has-ul" ng-repeat="nav in menu" ng-class="{'active':nav.active}">
            <a ng-if="!nav.list" href ui-sref="{{nav.route}}">
                <span>{{nav.title}}</span>
                <i class="{{nav.icon}}"></i>
            </a>
            <a ng-if="nav.list" href ng-click="nav.show = !nav.show" class="expand level-closed">
                <span>{{nav.title}}</span>
                <i class="{{nav.icon}}"></i>
            </a>
            <ul ng-if="nav.list" collapse="!nav.show">
                <li ng-repeat="subNav in nav.list" ng-class="{'active':subNav.active}">
                    <a href ui-sref="{{subNav.route}}">{{subNav.title}}</a>
                </li>
            </ul>
        </li>
        
    </ul>
    <!-- /main navigation -->
    
</div>
     
<!-- /sidebar -->
