<div ng-controller="SearchController" class="mrlr5">
	<!--游戏筛选-->
	<div class="gameWrap">
	    <ul class="middle-nav">
			<li>
				<a href="javascript:void(0);" ng-click="showGameList=!showGameList" class="btn btn-default">
	        		<i class="fa fa-gamepad"></i>
	        		<span>{{gamesData[gameIndex]['name']}}</span>
	        	</a>
	        </li>
	        <li>
	        	<a href="javascript:void(0);" ng-click="switchContainer(1,'region');" class="btn btn-default">
	        		<i class="fa fa-users"></i>
	        		<span>代理商</span>
	        	</a>
	        	<div class="label label-info">{{regionData[currentSelect.region].checkedNum || 0}}</div>
	        </li>
	        <li>
	        	<a href="javascript:void(0);" ng-click="switchContainer(2,'mobSystem');" class="btn btn-default">
	        		<i class="fa fa-mobile"></i>
	        		<span>系统</span>
	        	</a>
	        	<div class="label label-info">{{mobSystemData.checkedNum}}</div>
	        </li>
	        <li>
	        	<a href="javascript:void(0);" ng-click="switchContainer(3,'mobChannel');" class="btn btn-default">
	        		<i class="fa fa-bus"></i>
	        		<span>渠道</span>
	        	</a>
	        	<div class="label label-info">{{mobChannelData.checkedNum}}</div>
	        </li>
	    </ul>
		<!-- slide-wrapper指令 -->
    	<div class="slideWrapper" data="gamesData" slide-wrapper style="gameListStyle" current-index="gameIndex">
		</div>
		<!-- /slide-wrapper指令 -->
	</div>
	<!--/游戏筛选-->

	<!--地区筛选-->
	<div class="panel panel-default searchWrap region animate" ng-show="showContainer.region">
	    <div class="panel-body">
	    	<div class="tb_row content" style="height:41px;">
	    		<div class="tb_col pull-left">地区</div>
	    		<div class="tb_col">
	    			<ul class='list-unstyled list-inline'>
						<li ng-if="region.name" ng-repeat="region in regionData">
							<div class="radio" ng-class="{current:currentSelect.region == 'key'+region.key}">
	                            <label>
	                                <div class="choice">
	                                    <span ng-class="{checked:currentSelect.region == 'key'+region.key}">
	                                        <input type="radio" ng-model="currentSelect.region" class="styled" value="key{{region.key}}">
	                                    </span>
	                                </div>
	                                {{region.name}}
	                            </label>
	                        </div>
						</li>
					</ul>
	    		</div>
	    	</div>
	    	<div class="tb_row content rowAnimation" ng-style="agentListStyle" ng-class="{isHide:!currentSelect.region}">
	    		<div class="tb_col pull-left">
	    			{{regionData[currentSelect.region].name}}
	    		</div>
	    		<div class="tb_col">
	    			<ul id="agentsList" class='list-unstyled list-inline'>
						<li ng-if="sub.name" ng-repeat="sub in regionData[currentSelect.region]['childrens']">
							<div class="checkbox" ng-class="{checked:sub.isChecked,checkedPart:sub.isCheckedPart,current:currentSelect.agent == 'key'+sub.key}">
	                            <label>
	                                <div class="checker">
	                                    <span ng-class="{checked:sub.isChecked}">
	                                        <input type="checkbox" class="styled" ng-click="changeCheckbox(sub,regionData[currentSelect.region],currentSelect,'agent',true);">
	                                    </span>
	                                </div>
	                            </label>
	                            <label ng-click="showChildren(sub,currentSelect,'agent');">{{sub.name}}
	                            </label>
	                        </div>
						</li>
					</ul>
					<i ng-if="agentListHeight > listLineHeight" ng-click="show(1);" class="fa btnShowAll" ng-class="{'fa-angle-double-down':!showAgentList,'fa-angle-double-up':showAgentList,}"></i>
	    		</div>
	    	</div>
	    	<div class="tb_row content rowAnimation" ng-style="regionListStyle" ng-class="{isHide:!currentSelect.agent}">
	    		<div class="tb_col pull-left">
	    			{{regionData[currentSelect.region]['childrens'][currentSelect.agent].name}}
	    		</div>
	    		<div class="tb_col">
	    			<ul id="smasllRegionsList" class='list-unstyled list-inline'>
								<li ng-repeat="sub in regionData[currentSelect.region]['childrens'][currentSelect.agent]['childrens']">
									<div class="checkbox">
			                            <label>
			                                <div class="checker">
			                                    <span ng-class="{checked:sub.isChecked}">
			                                        <input type="checkbox" ng-model="sub.isChecked" class="styled" ng-click="changeCheckbox(sub,regionData[currentSelect.region]['childrens'][currentSelect.agent]);">
			                                    </span>
			                                </div>
			                                {{sub.name}}
			                            </label>
			                        </div>
								</li>
							</ul>
							<i ng-if="regionListHeight > listLineHeight" ng-click="show(2);" class="fa btnShowAll" ng-class="{'fa-angle-double-down':!showRegionList,'fa-angle-double-up':showRegionList,}"></i>
	    		</div>
	    	</div>
	    </div>
	    <i class="arrows"></i>
	</div>
	<!--/地区筛选-->

	<!--手机系统筛选-->
	<div class="panel panel-default searchWrap mobSystem animate"  ng-show="showContainer.mobSystem">
	    <div class="panel-body">
	    	<div class="tb_row content rowAnimation">
	    		<div class="tb_col pull-left">
	    			手机系统
	    		</div>
	    		<div class="tb_col">
	    			<ul class='list-unstyled list-inline'>
	    				<li>
							<div class="checkbox" ><!-- ng-class="{checkedPart:mobSystemData.isCheckedPart}"--> 
	                            <label>
	                                <div class="checker">
	                                    <span ng-class="{checked:mobSystemData.isChecked}">
	                                        <input type="checkbox" class="styled" ng-click="changeCheckboxNoP(mobSystemData);">
	                                    </span>
	                                </div>
	                                全部
	                            </label>
	                        </div>
						</li>
						<li ng-if="sub.name" ng-repeat="sub in mobSystemData">
							<div class="checkbox">
	                            <label>
	                                <div class="checker">
	                                    <span ng-class="{checked:sub.isChecked}">
	                                        <input type="checkbox" class="styled" ng-click="changeCheckbox(sub,mobSystemData,null,null,true);">
	                                    </span>
	                                </div>
	                                {{sub.name}}
	                            </label>
	                        </div>
						</li>
					</ul>
	    		</div>
	    	</div>
	    </div>
	    <i class="arrows"></i>
	</div>
	<!--/手机系统筛选-->

	<!--手机渠道筛选-->
	<div class="panel panel-default searchWrap mobChannel animate"  ng-show="showContainer.mobChannel">
	    <div class="panel-body">
	    	<div class="tb_row content rowAnimation" ng-style="channelListStyle">
	    		<div class="tb_col pull-left">
	    			手机渠道
	    		</div>
	    		<div class="tb_col">
	    			<ul id="channelHeight" class='list-unstyled list-inline'>
	    				<li>
							<div class="checkbox"  ><!-- ng-class="{checkedPart:mobChannelData.isCheckedPart}"-->
	                            <label>
	                                <div class="checker">
	                                    <span ng-class="{checked:mobChannelData.isChecked}">
	                                        <input type="checkbox" class="styled" ng-click="changeCheckboxNoP(mobChannelData);">
	                                    </span>
	                                </div>
	                                全部
	                            </label>
	                        </div>
						</li>
						<li ng-if="sub.name" ng-repeat="sub in mobChannelData">
							<div class="checkbox">
	                            <label>
	                                <div class="checker">
	                                    <span ng-class="{checked:sub.isChecked}">
	                                        <input type="checkbox" class="styled" ng-click="changeCheckbox(sub,mobChannelData,null,null,true);">
	                                    </span>
	                                </div>
	                                {{sub.name}}
	                            </label>
	                        </div>
						</li>
					</ul>
					<i ng-if="channelListHeight > listLineHeight" ng-click="show(3);" class="fa btnShowAll" ng-class="{'fa-angle-double-down':!showChannelList,'fa-angle-double-up':showChannelList,}"></i>
	    		</div>
	    	</div>
	    </div>
	    <i class="arrows"></i>
	</div>
	<!--/手机渠道筛选-->
</div>